header, main {
  overflow: auto;
}
h1{
display: flex;
justify-content: center;
color: white;
}
nav {
display: flex;
flex-direction: row;
justify-content: flex-end;
}
main {
   width: 85vw;
}
p{
  padding: 0.5em;
}
nav a{
  background-color: magenta;
  padding: 1em;
  color: white;
  margin: 0.4em;
  transition: background-color 5s;
  box-sizing: border-box;
  width: 7.5vw;
}
nav a:hover{
  background-color: white;
}
body {
background-color: purple;
}
